body {
    background: whitesmoke;
}

.container {
    grid-column-gap: 10em;
}
@font-face {
    font-family: ubuntu;
    src: url('.assets/Ubuntu-Bold.ttf');
}

.aboutTitle {
    position: relative;
    left: 23em;
    right: 20em;
}

h2 {
    background-color: black;
 
}