.navbar {
    position: fixed;
    background-color: transparent;
}

.navbar-brand {
    font-family: var(--font-one);
    font-size: 24pt;
    background-color: transparent;
}

/* .collapse {
    position: relative;
    right: 0;
} */